@font-face {
  font-family: "HamdullahMushaf";

  src: url("KuranKerimFontHamdullah.ttf");
}
/* @font-face {
  font-family: "HamdullahMushafBasic";

  src: url("ShaikhHamdullahBasicVolt_1.woff");
} */
